.places{
  font-family: 'Inter', Arial, sans-serif;
  max-width: 984px;
  margin: 0 auto 92px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1140px){
  .places{
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 984px){
  .places{
    max-width: calc(100% - 48px);
    gap: 73px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 675px){
  .places{
    max-width: 320px;
    margin-bottom: 66px;
    gap: 50px;
  }
}
