.lead{
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 984px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

@media screen and(max-width: 1140px){
  .lead{
    max-width: 928px;
    margin: 0 48px;
  }
}

@media screen and(max-width: 984px){
  .lead{
    max-width: 768px;
    margin: 0;
  }
}
