.content{
  margin: 56px auto 92px;
}

@media screen and (max-width: 1140px){
  .content{
    margin-top: 48px;
  }
}

@media screen and (max-width: 768px){
  .content{
    margin-bottom: 88px;
  }
}


@media screen and (max-width: 568px){
  .content{
    margin-bottom: 64px;
  }
}
