.place__paragraph{
  grid-column: 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 27px;
  padding: 0;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 984px){
  .place__paragraph{
    max-width: 352px;
    font-size: 16px;
    margin: 0 0 25px 0;
  }
}

@media screen and (max-width: 568px){
  .place__paragraph {
    max-width: 288px;
    grid-column: 1;
    margin: 25px 16px 50px;
  }

  .place__paragraph:first-of-type {
    margin-top: 32px;
    margin-bottom: 0;
  }
}
