.place__website{
  align-self: flex-end;
}

@media screen and (max-width: 984px) {
  .place__website {
    margin-left: 24px;
  }
}

@media screen and (max-width: 568px) {
  .place__website {
    margin: 0 16px;
    grid-row: 2;
  }
}
